<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- ===================================================== -->
    <!-- MICROPHONE -->
    <!-- ===================================================== -->

    <uses-permission
        android:name="android.permission.RECORD_AUDIO" />

    <!-- ===================================================== -->
    <!-- FOREGROUND SERVICE -->
    <!-- ===================================================== -->

    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />

    <!-- ===================================================== -->
    <!-- NOTIFICATION -->
    <!-- ===================================================== -->

    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- ===================================================== -->
    <!-- CAMERA -->
    <!-- ===================================================== -->

    <uses-permission
        android:name="android.permission.CAMERA" />

    <!-- ===================================================== -->
    <!-- LOCATION -->
    <!-- ===================================================== -->

    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- ===================================================== -->
    <!-- EXACT ALARM -->
    <!-- ===================================================== -->

    <uses-permission
        android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <!-- ===================================================== -->
    <!-- APPLICATION -->
    <!-- ===================================================== -->

    <queries>

    <intent>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
    </intent>

    <package android:name="com.whatsapp" />
    <package android:name="com.whatsapp.w4b" />
    <package android:name="com.instagram.android" />
    <package android:name="com.google.android.gm" />
    <package android:name="com.google.android.youtube" />
    <package android:name="com.android.chrome" />
    <package android:name="com.google.android.apps.maps" />
    <package android:name="com.facebook.katana" />
    <package android:name="org.telegram.messenger" />
    <package android:name="com.snapchat.android" />
    <package android:name="com.spotify.music" />

</queries>
    <application
        android:theme="@style/Theme.MyAI"
        android:label="AURIX"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:icon="@drawable/aurix_logo">

        <!-- ================================================= -->
        <!-- MAIN ACTIVITY -->
        <!-- ================================================= -->

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <!-- ================================================= -->
        <!-- AURIX VOICE SERVICE -->
        <!-- ================================================= -->

        <service
            android:name=".AurixService"
            android:exported="false"
            android:foregroundServiceType="microphone" />

        <!-- ================================================= -->
        <!-- AURIX TIMER / ALARM RECEIVER -->
        <!-- ================================================= -->

        <receiver
            android:name=".AlarmReceiver"
            android:exported="false" />

    </application>

</manifest>
